
body {
    height: 100vh;
    font-family: roboto sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 239, 241);
   

}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #353a41;

}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    
}
 .logo img {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    
 }

 a {
    text-decoration: none;
    padding: 8px;
    display: flex;
    color: #ff5733;
 }

 ul {
    list-style-type: none;
 }

 .header a:hover {
    text-decoration: underline;
 }

 .components {
    display: flex;
    gap: 4px;
    margin-left: auto;


 }

 .hero-container {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    background-color: #353a41;
 }

 @container (max-width: 600px) {
    .hero-content {
        flex-direction: row;
        align-items: center;
        margin: 5% 0;
    }
    .content-info {
        width: 50%;
        text-align: center;
    }
    .text1 {
        font-size: 24px;
    }
    .text2 {
        font-size: 14px;
    }
    .hero-image {
        width: 50%;
        height: auto;
    }
    .hero-image img {   /*how will ensure that this image reduces ot take a better size well even in max-width=600px?*/
        /* width: 100%; */
        height: auto;
    }
 }

 @container (min-width: 600px) and (max-width:1025px) {
    
        .hero-content {
            flex-direction: row;
            align-items: center;
            margin: 5% 0;
        }
        .content-info {
            width: 50%;
            /* text-align: center; */
        }
        .text1 {
            font-size: 40px;
        }
        .text2 {
            font-size: 18px;
        }
        .hero-image {
            width: 50%;
            height: auto;
        }
        .hero-image img {   /*how will ensure that this image reduces ot take a better size well even in max-width=600px?*/
            width: 100%;
            height: auto;
            /* object-fit: cover; */
            /* position: absolute; */
            /* top: 0; */
            /* left: -5%; */
        }
 }

 @container (min-width: 1025px) {
    .hero-content {
        flex-direction: row;
        align-items: center;
        /* width: 100%; */

    }
    .content-info {
        width: 50%;
        /* text-align: center; */
    }
    .text1 {
        font-size: 48px;
    }
    .text2 {
        font-size: 20px;
    }
    .hero-image {
    width:50%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    /* border: 1px solid red; */
    }
    .hero-image img {   /*how will ensure that this image reduces ot take a better size well even in max-width=600px?*/
        width: 100%;
        height: auto;
        /* object-fit: cover; */
        /* position: absolute; */
        /* top: 0; */
        /* left: -5%; */
    }
 }

 .hero-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 5% 0 5%;
    
 }

.content-info {
    width: 50%;
    padding: 10px;
    margin-left: 10px;

}

.hero-image {
    width:50%;
    height: 100%;
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10px; 
}

.hero-image img {
    width: 100%; /* will increase images to overlap slightly*/
    height: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    
}

.text1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.text2 {
    font-size: 18px;
    color: #f9faf8;
}

.content-info button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  width: max-content;
  margin-top: 8px;
  padding: 8px;
  justify-self: start;
}


.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
    height: auto;
    border: 1px solid darkkhaki;
    margin: 5% 0 5%;
    container-type: inline;
    margin-left: 16px;
}

.content-heading {
    font-size: 28px;
    color: #1f2937;
    font-weight: 600;
    padding: 26px;
    
}

.card-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* margin-left: 16px; */
    height: auto;
    border: 1px solid darkkhaki;
    justify-content: center;
    container-type: inline-size;
    container-name: card-item;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 8px;
    flex: 1 1 23%;
    margin: 5px;
    /* width: 25%; */
    /* gap: 32px; */
}

@container card-item (max-width: 725px) {
    .card {
        flex-direction:row;
    }
    .card-text {
        align-items: center;
        font-size: 14px;
        color: #f9faf8; 
    }
    .card img {
        width: 300px;
        height: 300px;
    }
}

.card-text {
    align-items: center;
    font-size: 18px;
    color: #f9faf8;
    padding: 20px;
    justify-content: space-between;

   
}

.card-item li {
    color: #000;
    margin-bottom: 5px;
}

.card img {
    width: 300px;
    height: 300px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    /* margin: 20px 20px; */
    background-color: #e5e7eb;
    font-style: italic;
    align-items: center;
    /* border-left: 5px solid #ff5733;
    border-right: 5px solid #ff5733; */
    container-type: inline-size;
    container-name: quote;
    width: 100%;
    margin: 10px 16px 10px 16px;

}
@container quote (max-width: 600px) {
    .quote-section .quote-text{
        width: 100%;
        font-size: 20px; 
    }
}
@container (600px < width < 1080px) {
    .quote-section .quote-text{
        width: 100%;
        font-size: 22px;
    }
}
.testimonial {
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 28px;
    color: #1f2937;
    font-weight: 600; 
    text-align: center; 
}

.quote-section blockquote {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
    border: 1px solid darkkhaki;
    padding: 5px;
    margin: 0 5% 0;
}
.quote-text {
    font-size: 24px;
    display: flex;
    width: 70%;

}
.citation {
    display: flex;
    align-items: center;
    margin-left: 35%;
    gap: 0;
    width:100px;
    padding: 3px;  /*this will help avoid overlapping*/
    
}

.citation cite {
    display: inline;                  /*I've added this so that the name and superscript will be on same line*/
    /* margin-right: 4px; */
    color: #1b2738; 
    white-space: nowrap;               /*noticed that this is working with the margin-right to ensure that name and superscript align*/
}

.citation a {
    display: inline;
    text-decoration: none;
    color: #ff5733;
    
}
.citation a sup {
    display: inline;
}

.citation a:hover {
    text-decoration: underline;
}

.call-container {
    
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px 16px 10px 16px;
    /* padding: 10px;   */
}

.call-items {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #4b3323;
    gap: 45px;
}

.call-one {
    margin: 16px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;

}

.call-heading {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.call-text {
    font-size: 18px;
    color: #e5e7eb;
    /* margin: 10px; */
    
}
.call-two {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 10px ;
}

.call-two button {
    font-family: Roboto, sans-serif;
    background: #eee; 
}
 .call-two button a {
    color: #ff5733;
  font-weight: 600;

 }

 .call-two button a:hover {
    text-decoration: underline;
 }

.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 16px 0 16px;
    background-color: #1f2937;

}

.copyrights {
    display: inline;
    width: 50%;
    font-size: 18px;
}

.copyrights a{
    color: #ff5733;
    display: inline;
}

.copyrights a:hover {
    text-decoration: underline;
}
